 @font-face {
    font-family: 'Almarai';
    src: url(Fonts/Almarai-Regular.ttf);
 }

  /* Together */
 input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: #F7F5F5;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 25%);
    border-style: none;
    margin: 10px 0 10px 0;
    font-size: 1em;
    padding-left: 15%;
 }

 p {
    margin: 3px 0 3px 0;
    font-size: 16px;
    font-family: 'Almarai';
    color: #0077B6;
 }

 .information {
    margin: 0;
    font-size: 22px;
    font-family: 'Almarai';
    font: lighter;
    color: #ffffff;
 }

 .login-signup {
    width: 220px;
    height: 48px;
    margin-top: 80px;
    border-radius: 22px;
    border-style: none;
    background-color: #0077B6;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Almarai';
    font-weight: bold;
    border-style: double;
    border-color: white;
 }

 .judul {
    font-size: 48px;
    font-family: 'Almarai';
    font-weight: bold;
    color: #0077B6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
 }

 .sub-judul {
    font-size: 42px;
    font-family: 'Almarai';
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    margin-bottom: 80px;
 }

 img {
    width: 30px;
    height: 30px;
    color: black;
    z-index: 2;
    margin-right: -40px;
    opacity: 45%;
 }

 .eye {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    margin-left: -55px;
 }

 .facebook {
    width: 56px;
    height: 56px;
    border: 2px solid #B9B9B9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
 }

 .gmail {
    width: 56px;
    height: 56px;
    border: 2px solid #B9B9B9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
 }

 .github {
    width: 56px;
    height: 56px;
    border: 2px solid #B9B9B9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
 }

 .fb {
    margin-right: -2px;
 }

 .gm {
    margin-right: -2px;
 }

 .gt {
    margin-right: -2px;
 }

 /* Sign Up Pages*/
 body {
    background: #aeaeae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
 }

 .signup-page {
    width: 70%;
    height: 85vh;
    background: #0077B6;
    border-radius: 32px;
 }

 .base-signup {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0077B6;
    border-radius: 24px;
    justify-content: end;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 25%);
    background-image: url(Assets/Backround-Base.png);
    background-size: cover;
 }

 .overlay-signup {
    width: 60%;
    height: 100%;
    background: #ffffff;
    border-radius: 0 24px 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .input-signup {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
 }

 .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 6%;
 }

 .inputContainer-signup {
    display: flex;
    align-items: center;
 }

 .inputContainer-signup2 {
    display: flex;
    align-items: center;
    margin-right: 42px;
 }

 .btnSignup {
    width: 60%;
    height: 48px;
    margin-top: 21px;
    border-radius: 32px;
    border-style: none;
    background-color: #0077B6;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Almarai';
    font-weight: bold;
 }

 .container-base-signup {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 27px;
 }

 /* Login Pages */

 body {
    background: #aeaeae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
 }

 .login-page {
    width: 70%;
    height: 85vh;
    background: #0077B6;
    border-radius: 32px;
 }

 .base-login {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0077B6;
    border-radius: 24px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 25%);
    background-image: url(Assets/Backround-Base.png);
    background-size: cover;
    flex-direction: row-reverse;
}

 .overlay-login {
    width: 60%;
    height: 100%;
    background: #ffffff;
    border-radius: 24px 0 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .input-login {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
 }

 .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 6%;
 }

 .inputContainer-login {
    display: flex;
    align-items: center;
 }

 .inputContainer-login2 {
    display: flex;
    align-items: center;
    margin-right: 42px;
 }

 .btnLogin {
    width: 60%;
    height: 48px;
    margin-top: 21px;
    border-radius: 32px;
    border-style: none;
    background-color: #0077B6;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Almarai';
    font-weight: bold;
 }

 .container-base-login {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 27px;
 }

 /*Dashboard Page*/
 base {
   background-color: #eaeaea;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   margin: 0;
   height: 100vh;
 }

 .Dashboard-Page {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
 }

 .Group-Dasboard {
   width: 100%;
   height: 15%;
   border-bottom: solid;
 }

 .Top-Dashboard {
   width: 72%;
 }

 .Overlay-Dashboard {
   width: 18%;
   height: 100%;
   background-color: #0077B6;
   border-style: solid;
   border-top: none;
   border-left: none;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .Base-Dashboard {
   width: 18%;
   height: 85%;
   background-color: #0077B6;
   border-style: solid;
   border-top: none;
   border-left: none;
 }
 