 @font-face {
    font-family: 'Almarai';
    src: url(Fonts/Almarai-Regular.ttf);
 }

 .Dashboard {
    background-color: #EAEAEA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
 }

 .Dashboard-Page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
 }

 .Group-Dasboard {
    width: 100%;
    height: 10%;
    border-bottom: solid;
    display: flex;
    justify-content: start;
    align-items: center;
 }

 .Overlay-Dashboard {
    width: 16%;
    height: 100%;
    background-color: #0077B6;
    border-right: solid;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .Top-Dashboard {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 58vh;
 }

 .Top-Dashboard-1 {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
 }

 .Icon-Search {
    font-size: 20px;
    margin-right: -140px;
    margin-left: 100px;
    display: flex;
    color: #0077B6;
    z-index: 2;
 }

 .Search {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    border-radius: 40px;
    border-style: none;
    outline-color: #0077B6;
    outline-style: none;
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 25%);
    padding-left: 10%;
    padding-right: 3%;
 }

 .Top-Dashboard-2 {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 3%;
 }

 .Profils {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 }

 .Profil {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .Icon-Profil {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 40%);
    opacity: 80%;
 }

 .Pembatas {
    width: 3px;
    height: 30px;
    background-color: #0077B6;
    border-radius: 10PX;
 }

 .Icon-Top {
    font-size: 20px;
    color: #0077B6;
 }

 .Icon-Top-2 {
    font-size: 15px;
    color: #0077B6;
 }

 .Swapful-Store {
    width: 100%;
    height: 90%;
    border-style: none;
    display: flex;
    align-items: start;
    justify-content: start;
 }

 .Base-Dashboard {
    width: 16%;
    height: 100%;
    background-color: #0077B6;
    border-right: solid;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    row-gap: 3%;
 }


 .Icon-Dashboard {
    font-size: 150%;
    opacity: 100%;
    color: white;
 }

 .Icon-Dashboard2 {
    font-size: 150%;
    opacity: 100%;
    color: #0077B6;
    margin-left: 9%;
 }

 .text-icon {
    color: white;
    font-family: 'Almarai';
    font-size: 18px;
 }

 .text-icon2 {
    color: #0077B6;
    font-family: 'Almarai';
    font-size: 18px;
 }

 .Control-Icon {
    width: 80%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: top;
    align-items: center;
    margin-top: 10%;
    border-radius: 8px;
    column-gap: 5%;
 }

 .Control-Icon2 {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: top;
    align-items: center;
    column-gap: 5%;
    margin-left: 15%;
 }

 .Store-Page {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
 }

 .Top-Store {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    column-gap: 114vh;
 }

 .Top-Store-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
 }

 .Icon-Filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    color: #0077B6;
    width: 95px;
    height: 27px;
    border-radius: 8px;
    border-style: solid;
 }

 .Icon-Filters {
    font-size: 15px;
 }

 .Filter-Text {
    font-size: 18px;
 }

 .Link-Filter {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
 }

 .Lingkaran-Filter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 30px;
    height: 30px;
    background-color: #0077B6;
    border-radius: 100%;
    column-gap: 100%;
 }

 .Layout-1-Store {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2%;
 }

 .Categories-Desain {
    width: 7.6%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 25%);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .Categories-Text {
    font-family: 'Almarai';
    font-weight: bold;
    font-size: 13px;
    margin: 0;
 }

 .img-2 {
    width: 60px;
 }

 .Center-Store {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    column-gap: 110vh;
 }

 .View {
    margin-top: 30px;
    font-family: 'Almarai';
    font-size: 1.1rem;
    border-style: none;
    font-weight: 600;
    color: #0077B6;
    background-color: transparent;
 }

 .Store-Text {
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: 'Almarai';
    display: flex;
    font-size: 30px;
 }

 .Layout-2-Store {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3%;
 }

 .Store-Text2 {
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1.2%;
    font-family: 'Almarai';
    display: flex;
    font-size: 30px;
 }

 .Layout-Text {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 56ch;
 }


 .Layout-3-Store {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5%;
 }

 .Layout-4-Store {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
 }

 .Bottom-Store {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
 }

 .Order-Desain {
    width: 90%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 25%);
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 3%;
 }

 .Popular-Desain {
    width: 13.2%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 25%);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .Discount-Desain {
    position: relative;
    width: 18.5%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 25%);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .Img-Popular {
    width: 90%;
    display: flex;
 }

 .Deskripsi {
    font-size: 10px;
    width: 80%;
    font-family: 'Almarai';
    letter-spacing: 0.3px;
    line-height: 130%;
    font-weight: 550;
 }

 .Img-Popular-1 {
    width: 65%;
    display: flex;
 }

 .Backround-Popular {
    width: 90%;
    height: 60%;
    background-color: #D7D7D7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: Center;
 }

 .Backround-Popular-1 {
    width: 90%;
    height: 60%;
    background-color: #D7D7D7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
 }

 .img-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    display: flex;
 }

 .Display-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0077B6;
    opacity: 70%;
    border-radius: 10px;
    z-index: 2;
    display: flex;
 }