 @font-face {
    font-family: 'Almarai';
    src: url(Fonts/Almarai-Regular.ttf);
 }

 .Dashboard {
    background-color: #EAEAEA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
 }

 .Dashboard-Page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
 }

 .Swapful-Store {
    width: 100%;
    height: 90%;
    border-style: none;
    display: flex;
    align-items: start;
    justify-content: start;
 }

 .Store-Page {
   width: 82%;
   height: 100%;
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;
 }

 .Categories-1 {
   margin-left: 3%;
   margin-bottom: 1%;
   font-family: 'Almarai';
   display: flex;
 }

 .Categories-Store {
   width: 100%;
   height: 16%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   column-gap: 2%;
 }

.Categories-Desain {
   width: 7.6%;
   height: 100%;
   background-color: white;
   box-shadow: 0 0 20px 3px rgba(0, 0, 0, 25%);
   border-radius: 10%;
   display: flex;
   justify-content: start;
   align-items: start;
}

 .Group-Dasboard {
    width: 100%;
    height: 10%;
    border-bottom: solid;
    display: flex;
    justify-content: start;
    align-items: center;
 }

 .Top-Dashboard {
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
 }

 .Overlay-Dashboard {
    width: 18%;
    height: 100%;
    background-color: #0077B6;
    border-right: solid;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .Base-Dashboard {
    width: 18%;
    height: 100%;
    background-color: #0077B6;
    border-right: solid;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    row-gap: 3%;
 }

 .Icon-Dashboard {
    font-size: 150%;
    opacity: 100%;
    color: white;
 }

 .Icon-Dashboard2 {
    font-size: 150%;
    opacity: 100%;
    color: #0077B6;
     margin-left: 9%;
 }

 .text-icon {
    color: white;
    font-family: 'Almarai';
    font-size: 18px;
 }

 .text-icon2 {
    color: #0077B6;
    font-family: 'Almarai';
    font-size: 18px;
 }

 .Control-Icon {
    width: 80%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: top;
    align-items: center;
    margin-top: 10%;
    border-radius: 8px;
    column-gap: 5%;
 }

 .Control-Icon2 {
    width: 80%; 
    height: 40px;
    display: flex;
    justify-content: top;
    align-items: center;
    column-gap: 5%;
    margin-left: 15%;
 }

 .Search {
   width: 500px;
   height: 40px;
   display: flex;
   justify-content: start;
   margin-left: 100px;
   border-radius: 40px;
   border-style: none;
   outline-color: #0077B6;
   outline-style: none;
   box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 25%);
   padding-left: 5%;
   padding-right: 3%;
 }

 .Icon-Search {
   font-size: 20px;
   margin-right: -140px;
   margin-left: 100px;
   display: flex;
   color: #0077B6;
   z-index: 2;
 }