 @font-face {
    font-family: 'Almarai';
    src: url(Fonts/Almarai-Regular.ttf);
 }

 .Signup, .Login {
    background: #aeaeae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
 }

 .signup-page, .login-page {
    width: 70%;
    height: 85vh;
    background: #0077B6;
    border-radius: 32px;
 }

 .base-signup {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0077B6;
    border-radius: 24px;
    justify-content: end;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 25%);
    background-image: url(Assets/background-Base.png);
    background-size: cover;
 }

  .base-login {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0077B6;
    border-radius: 24px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 25%);
    background-image: url(Assets/Backround-Base.png);
    background-size: cover;
    flex-direction: row-reverse;
 }


 .overlay-signup, .overlay-login  {
    width: 60%;
    height: 100%;
    background: #ffffff;
    border-radius: 0 24px 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .input-signup, .input-login  {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
 }

 .signup-container, .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 6%;
 }

 .inputContainer-signup, .inputContainer-login {
    display: flex;
    align-items: center;
 }

 .inputContainer-signup2, .inputContainer-login2  {
    display: flex;
    align-items: center;
    margin-right: 12px;
 }

 .btnSignup, .btnLogin {
    width: 60%;
    height: 48px;
    margin-top: 21px;
    border-radius: 32px;
    border-style: none;
    background-color: #0077B6;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Almarai';
    font-weight: bold;
 }

 .container-base-signup, .container-base-login {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 27px;
 }

 @media (min-width: 1024px) and (max-width: 1150px) {
   .login-page,
   .signup-page {
    width: 90%;  
   }
 }